@charset "utf-8";
@import './customVariables.sass';
html, body {
  height:100%;
}
body {
  min-height:100vh;
  position:relative;
  margin:0;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.04em;
}
main {
  flex:1;
}
.primary-bg-color {
  background-color: $primary;
  color: #fff;
  .content h2, h3 {
    color: #fff;
    margin: 0.6666em 0;
  }
}
.logo {
  width:300px;
}
.navbar-items {
  top:1rem;
  right:1rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
p:first-child, p:last-child {
  margin: 0 0;
}
p {
  margin: 1em 0;
}
/* CUSTOM COLORS */
$colors: 
  "background-primary" "background-color" $primary,
  "has-background-link" "background-color" '#000';
  
@media screen and (max-width:767px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .navbar-items {
    position: initial;
    width:100%;
  }
  nav, .navbar-items {
    justify-content: center;
  }

}
@each $name, $prop, $value in $colors {
  .has-#{$name} {
    $prop: "#{$value} !important";
  }
}